.jumbotron{
    background-color: white;
    text-align: center;
    font-size: 20px;
}

.display-4{
    text-align: center;
    font-size: 35px;
}
.title{
    font-family: 'Baloo Chettan', cursive;
    font-size: 85px;
    text-indent: 120%;
    float: left;
    
  }

  .box{
      text-align: center;
      font-size: 20px;
      font-family: 'Francois One', sans-serif;
  }

  nav{
    float: right;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding:  80px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding:  80px;
  }
  
  .column img {
    margin-top: 150px;
    vertical-align: middle;
  }
  
  img{
      width: 400px;
      height: 400px;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

img{
    width: 400px;
    height: 400px;
}
.container{
    border: 1px solid gray;
}
button
{
    float: middle;
}

.checkout-page{
    position: relative;
    text-align: center;
}

.checkout-page span a{
    padding: 15px;
    border: 2px solid gray;

}